<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
-->

<ion-content [fullscreen]="true">

  <div>
  <!-- List of Text Items -->
<ion-list>

  <ion-list-header>
    DIRECTORIO DAH2020
  </ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
  </ion-avatar>
    <ion-label>
      <h2>ARCINIEGA RAMIREZ MIGUEL LEOPOLDO</h2>
      <h3>3111216030</h3>
      <p>milearciniegara@ittepic.edu.mx</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>ARELLANO MATA EDWIN ANTONIO</h2>
        <h3>3111180994</h3>
        <p>edanarellanoma@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>FLORES MEDRANO DAVID SAUL</h2>
        <h3>3111740340</h3>
        <p>dasafloresme@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>FLORES RAMIREZ ADRIANA</h2>
        <h3>3112358516</h3>
        <p>adfloresra@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>HARO SILVA ANDRÉS MITCHEL</h2>
        <h3>3111656715</h3>
        <p>anmiharosi@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>HERNANDEZ CASTAÑEDA DIANA GUADALUPE</h2>
        <h3>3113830931</h3>
        <p>diguhernandezca@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">  
    </ion-avatar>
      <ion-label>
        <h2>HERNANDEZ MUÑOZ DANIELA ITZEL</h2>
        <h3>3111436719</h3>
        <p>daithernandezmu@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>HIGH MENDOZA DANIEL ENRIQUE</h2>
        <h3>3111226348</h3>
        <p>daenhighme@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>JIMÉNEZ DÍAZ MARTÍN ALEJANDRO</h2>
        <h3>3111563507</h3>
        <p>maaljimenezdi@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>LOPEZ ALVARADO MISSAEL</h2>
        <h3>3112636307</h3>
        <p>milopezal@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>LÓPEZ BÁEZ MARTÍN ALEJANDRO</h2>
        <h3>6871941615</h3>
        <p>maallopezba@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>LÓPEZ SÁNCHEZ JONATHAN ISRAEL</h2>
        <h3>3113501207</h3>
        <p>joislopezsa@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>MARTINEZ ALMEJO JOSE MANUEL</h2>
        <h3>3112008161</h3>
        <p>jomamartinezal@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>NAVARRO RODRÍGUEZ OSCAR GiIOVANNI</h2>
        <h3>3111628786</h3>
        <p>osginavarroro@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>ORTIZ LORA ENRIQUE</h2>
        <h3>3112576460</h3>
        <p>enortizlo@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>


  <ion-item> 
  </ion-item>


</ion-list>

  </div>

</ion-content>